<div class="Heading">
   <h1>NOLU'S COFFEE SHOP</h1>
   <h2>Weekly Schedule </h2> 
</div>
<div class="Onduty">
    <form action="/day" method="GET">
    <div class="date">
        {{day}}
    </div>
    <div class="waiterList">
        <h3>Waiter Schedule</h3>
        {{#each waitersByDay}}
            <ul>
                <li>
                    {{this.name}}
                </li>
            </ul>
        {{/each}}
        </form>
    </div>

</div>

<a href="/waiters">Waiters</a>