<div class="heading">
  <h1>NOLU'S COFFEE SHOP</h1>
  <h2>Week Roster</h2>
  </div>
<div class="instructions">
  <h3>Instructions</h3>
  <h4>Waiter</h4>
  <ul>
    <li>Enter /waiters/your-name in the URL.</li>
    
  </ul>
  <h4>Admin</h4>
  {{!-- <ul>
    <li>Enter /waiters/your-name in the URL.</li>
    
  </ul> --}}
</div>