<div class="container">

<div class="blank">
    <h1 id="heading">NOLU'S COFFE SHOP</h1>
<div class="designation">
  <h4>Waiters</h4>
<ul><li>Please add /waiters/[your name] on the URL</li></ul>
<h4>Admin</h4>
<ul><li>Plese add /admin on the URL</li></ul>

   </div>
</div>
</div>



