<h1>NOLU'S COFFEE SHOP</h1>
<h2> {{username}}'s Schedule</h2>
{{#if messages.error}}
<div class="flash-error">
    {{messages.error}}
</div>
{{/if}}

{{#if messages.success}}
<div class="flash-success">
    {{messages.success}}
</div>
{{/if}}


<h2>Select days</h2>
<form action="/waiters/{{username}}/update" method="post">
    <input type="checkbox" id="Monday" name="days" value="Monday" {{#if (includes waiterSchedule 'Monday')}}checked{{/if}}>
    <label for="Monday">Monday</label><br>
    <input type="checkbox" id="Tuesday" name="days" value="Tuesday" {{#if (includes waiterSchedule 'Tuesday')}}checked{{/if}}>
    <label for="Tuesday">Tuesday</label><br>
    <input type="checkbox" id="Wednesday" name="days" value="Wednesday" {{#if (includes waiterSchedule 'Wednesday')}}checked{{/if}}>
    <label for="Wednesday">Wednesday</label><br>
    <input type="checkbox" id="Thursday" name="days" value="Thursday" {{#if (includes waiterSchedule 'Thursday')}}checked{{/if}}>
    <label for="Thursday">Thursday</label><br>
    <input type="checkbox" id="Friday" name="days" value="Friday" {{#if (includes waiterSchedule 'Friday')}}checked{{/if}}>
    <label for="Friday">Friday</label><br>
    <input type="checkbox" id="Saturday" name="days" value="Saturday" {{#if (includes waiterSchedule 'Saturday')}}checked{{/if}}>
    <label for="Saturday">Saturday</label><br>
    <input type="checkbox" id="Sunday" name="days" value="Sunday" {{#if (includes waiterSchedule 'Sunday')}}checked{{/if}}>
    <label for="Sunday">Sunday</label><br>
    <input type="submit" value="Update">
</form>
<script>
    // error messages display for 3.5seconds
    let errorMessageElem = document.querySelector('.flash-error')
  
    setTimeout(()=>{
      errorMessageElem.style.display = 'none'

    },3500)
//scuccess messages display for 3.5 seconds
let successMessageElem = document.querySelector('.flash-success')

    setTimeout(()=>{
      successMessageElem.style.display = 'none'

    }, 3500)


  </script>