<h1>NOLU'S COFFEE SHOP</h1>
<h2>{{username}}'s Schedule</h2>
<ul>
    {{#each waiterSchedule}}
    <li>{{this.waiter_name}} - {{this.day}}</li>
    {{/each}}
</ul>

<h3>Instructions</h3>
<ul>
    <li>Select days by checking the checkbox</li>
    <li>Click update</li>

  </ul>
<form action="/waiters/{{username}}/update" method="post">
    <label>Select Days:</label><br>
    <input type="checkbox" id="Monday" name="days" value="Monday" {{#if (includes waiterSchedule 'Monday')}}checked{{/if}}>
    <label for="Monday">Monday</label><br>
    <input type="checkbox" id="Tuesday" name="days" value="Tuesday" {{#if (includes waiterSchedule 'Tuesday')}}checked{{/if}}>
    <label for="Tuesday">Tuesday</label><br>
    <input type="checkbox" id="Wednesday" name="days" value="Wednesday" {{#if (includes waiterSchedule 'Wednesday')}}checked{{/if}}>
    <label for="Wednesday">Wednesday</label><br>
    <input type="checkbox" id="Thursday" name="days" value="Thursday" {{#if (includes waiterSchedule 'Thursday')}}checked{{/if}}>
    <label for="Thursday">Thursday</label><br>
    <input type="checkbox" id="Friday" name="days" value="Friday" {{#if (includes waiterSchedule 'Friday')}}checked{{/if}}>
    <label for="Friday">Friday</label><br>
    <input type="checkbox" id="Saturday" name="days" value="Saturday" {{#if (includes waiterSchedule 'Saturday')}}checked{{/if}}>
    <label for="Saturday">Saturday</label><br>
    <input type="checkbox" id="Sunday" name="days" value="Sunday" {{#if (includes waiterSchedule 'Sunday')}}checked{{/if}}>
    <label for="Sunday">Sunday</label><br>
    <input type="submit" value="Update">
</form>