<div class="container waiters">
  <h1>NOLU'S COFFEE SHOP</h1>
<h2>{{username}}'s Schedule</h2>
<h4>Select days below:</h4>
<p class="error">{{messages.error}}</p>
<p class="success">{{messages.success}}</p>
<form action="/waiters" method="post" id="waitersForm">
<div class="checkbox">
<input type ="checkbox" value="1" id="Mon" name="day" /><label for="Mon" id="red">Monday</label><br>
<input type ="checkbox" value="2" id="Tues"  name="day" /><label for="Tues">Tuesday</label><br>
<input type ="checkbox" value="3" id="Wed" name="day"  /><label for="Wed">Wednesday</label><br>
<input type ="checkbox" value="4" id="Thurs" name="day"  /><label for="Thurs">Thursday</label><br>
<input type ="checkbox" value="5" id="Fri" name="day"/><label for="Fri">Friday</label><br>
<input type ="checkbox" value="6" id="Sat" name="day"/><label for="Sat">Saturday</label><br>
<input type ="checkbox" value="7" id="Sun" name="day" /><label for="Sun">Sunday</label><br>
</div>

<button type="submit"  id="update">Update</button>
</form>
</div>
<script>
setTimeout(function(){document.querySelector(".error").style.display="none";
},3000);

document.querySelector(".error").style.display="block";

setTimeout(function(){document.querySelector(".success").style.display="none";
},3000);

document.querySelector(".success").style.display="block";
</script>







