body{ 
  text-align: center; 
  background-image: url('https://i.pinimg.com/originals/09/52/e9/0952e9d8c44d9e1fcc1e9b6da06ca49c.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  padding: 2%;
  margin: 2%;
  font-family:'Peralta';
  font-size: x-large;
  color: #dfddd9; 
  font-weight: bold;

}

.grid{

display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #AF6E4D; 
}

.error{
color: red;
font-size: 1.1em;
}

.success{
color: green;
font-size: 1.1em;

}



#update{
margin-top: 50px;
width: 7em;
height: 3em;
}

#clear{
  margin-top: 30px; 
  width: 7em;
height: 3em;
}


@media screen and (min-width:700px){
  
.container{
  width: 60%;
  border-radius: 5px;
  margin:0 auto;
  margin-top:5%;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  
}

.orange-bg{
  background-color: orangered;

}
.red-bg{
  background-color: red;
}
.green-bg{
  background-color: green;
}




}





