body{

    background-image: url('https://img.freepik.com/premium-photo/cup-coffee-chocolate-wooden-table-closeupgenerative-ai_841229-4091.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 2%;
    margin: 2%;
    font-family:'Peralta';
    font-size: x-large;
    color: #ebebe8;
    font-weight: bold;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container {
  margin-inline: 25%;
  margin-block: 20%;
  background-color:white;
  width:100% ;
  height:auto;
  padding: 5%;
  margin: 2%;
  border: 4px solid lightyellow;
  border-radius: 10px;
  text-align: center;
  align-items: center;

}
.input{
  display:flex;
  flex-direction: column;
  width:20%;
  margin-inline: 40%;
}
.schedule{
  margin-inline: 40%;
}

table {
  border-collapse: collapse;
  margin-inline: auto; 
  width:900px;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center; 
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.orange {
  background-color: #FF4F00;
}


th{
  border: black solid 1px;
  padding: 10px;
  text-align: left;
}
li{
  display: inline-flex;
  margin: 1%;
}
span{
  color:red;
}
td{
  border: black solid 1px;
}

.adminUl{
  border: transparent 1px;
  border-radius: 8px;
  display: inline-flex;
}
.green-key{
  width:12%;
  height: 2vh;
  background-color: green;
  /* border:solid 1px black; */
  margin-right: auto;

}

.red-key{
  width:10%;
  height: 2vh;
  background-color: red;
  /* border:solid 1px black; */
  margin-right: auto;
}
.orange-key{
  width:10%;
  height: 2vh;
  background-color: #FF4F00;
  /* border:solid 1px black; */
  margin-right: auto;
}
.key{
 
  margin: 1%;
  padding: 1%;
  width:70%;
  margin-inline: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
input[type="submit"] {
  background-color: #4e2a27;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
 
}

.reset{
  background-color: #4e2a27;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;

}

.flash-success{
  color:green;
  font-size: x-large;
}
.flash-error{
  color:red;
  font-size: x-large;
}
/* input[type="submit"]:hover {
  background-color: #45a049;
} */
/********** SMALL SCREENS *********/
@media only screen and (max-width: 34em) {
  .container {
  width: 100%; 
   
 }
table{
  max-width: 50%;
}
th,td{
  border: black solid 1px;
  padding: 10px;
  text-align: left;
  max-width: 50%;
}
}

@media only screen and (min-width: 35em) {
  .container {
      width: 80%;
  }
  /* table{
      /* max-width: 50%; */
   /* } */ 
   th,td{
      border: black solid 1px;
      padding: 10px;
      text-align: left;
      /* max-width: 50%; */
  }
}




